.theColor{
    color: rgb(64,25,109);
    font-size: 20px;
}

.cont{
    margin-top: 5vh;
    margin-left: 30vh !important;
}

@media (max-width:760px) {
    .imgg{
        display: none;
    }
    .cont{
        margin-top: 15vh;
        margin-left: 0vh !important;
    }
}

